header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
}

.navbar {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

li:hover {
  color: aliceblue;
}

.active {
  color: aliceblue;
}

