header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
}

.navbar {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

li:hover {
  color: aliceblue;
}

.active {
  color: aliceblue;
}

.Me {
  height: 400px;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25%;
  background-image: url("./assets/images/my\ face.jpg");
  background-size: cover;
  background-position: center;
}

.body-content {
  margin-bottom: 10px;
}

footer {
  background-color: lightblue;
  margin-top: auto;
  position: static;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
}

.skills {
  display: grid;
}

.my-work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  justify-content: space-between;
  margin-left: 30%;
}

.block {
  width: 40%;
}

.work-large-image {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .flex-row {
      flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
nav {
  padding-top: 0;
  margin-right: 0;
  float: none;
}
}
