header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: blue;
}

.navbar {
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 25px;
  cursor: pointer;
}

li:hover {
  color: aliceblue;
}

.active {
  color: aliceblue;
}

.Me {
  height: 400px;
  width: 50%;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25%;
  background-image: url("./assets/images/my\ face.jpg");
  background-size: cover;
  background-position: center;
}

